<%= form_for cartdetail, remote: true do |cartdetail| %>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag product.image %>
    <div class="caption">
      <h4 class="pull-right"><%= number_to_currency product.price %></h4>
      <h4><%= link_to product.name, product %><br></h4>
      <p><%= product.description %></p><br><%= t "procedure" %>:
      <a target="_blank" href="#"><%= product.category.name %></a>.
    </div>
    <div class="ratings">
      <p class="pull-right"><%= t "review" %></p>
      <p>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      </p>
    </div>
    <%= cartdetail.hidden_field :product_id, value: product.id %>
      <% if logged_in? %>
        <%= cartdetail.submit t ("add_cart"), class: "btn btn-primary" %>
      <% else %>
        <h3> Login to add Product</h3>
      <% end %>
    </div>
  </div>
<% end %>
