<% @products.each do |product| %>
  <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
      <%= image_tag product.image %>
    <div class="caption">
      <h4 class="pull-right"><%= number_to_currency product.price %></h4>
      <h4><%= link_to product.name, product %><br></h4>
      <p><%= product.description %></p><br><%= t "procedure" %>:
      <a target="_blank" href="#"><%= product.category.name %></a>.
    </div>
    <div class="ratings">
      <p class="pull-right"><%= t "review" %></p>
      <p>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
      </p>
    </div>
  </div>
</div>
<% end %>
