<tr>
  <td><%= image_tag cartdetail.product.image %></td>
  <td><%= cartdetail.product.name %></td>
  <td><%= cartdetail.product.description %></td>
  <td><%= number_to_currency cartdetail.product.price %></td>
  <td><%= cartdetail.quantity %></td>
  <td><%= cartdetail.product.category.name %></td>
  <td></td>
</tr>
